body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square {
	height: 25px;
	width: 25px;
	background-color: #555;
}

/* stuff for calendar */
#year {
	padding-left: 65px;
}

#month {
	padding-left: 11px;
}

.day {
	
}

.next_arrow {
	padding-left: 10px;
}

.prev_arrow {
	padding-left: 40px;
}

.active {
	padding: 1px;
	background: #1abc9c;
	color: white;
}